<!DOCTYPE html>
<html>
	<head>
		<title>Pumped</title>
		<script type="text/javascript" src="/eel.js"></script>
        <script type="text/javascript" src="/js/utils.js"></script>
		<script type="text/javascript" src="/js/motion-deblur/messages.js"></script>
		<script type="text/javascript" src="/js/motion-deblur/staticEvents.js"></script>
		<script type="text/javascript" src="/js/motion-deblur/initialize.js"></script>
		<link rel="stylesheet" href="/css/motion_deblur.css">
	</head>

	<body>
		<div class="main">
			<div id="iut-frame" class="left image-column">
				<div id="iut-zoom" class="zoom-element">
					<img id="iut" alt="IUT (Image Under Test)">
				</div>
			</div>

			<div id="out-frame" class="middle image-column">
				<div id="out-zoom" class="zoom-element">
					<img id="out" alt="Recovered Image">
				</div>
			</div>
			
			<div class="right">

				<div id="sliders-wrapper">
					<p>Angle: <span id="angle-slider-display">135</span></p>
					<input type="range" min="0" max="180" value="135" id="angle-slider" class="slider">
					
					<p>Strength: <span id="strength-slider-display">22</span></p>
					<input type="range" min="0" max="100" value="22" id="strength-slider" class="slider">
					
					<p>SNR (dB): <span id="snr-slider-display">25</span></p>
					<input type="range" min="0" max="50" value="25" id="snr-slider" class="slider">
				</div>
				
				<div id="psf-frame">
					<img id="psf" alt="Point Spread Function">
				</div>
				
				<div id="control-buttons-wrapper">
					<button id="save-button"> Save </button>
				</div>
			</div>
		</div>

	</body>
</html>
