* {
    margin: 0;
    padding: 0;
  }

  html, body {
      height: 100%;
      overflow: hidden;
  }
  .main {
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .main > div {
    border: 1px solid grey;
  }
  .left {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 48%;
        -ms-flex: 0 0 48%;
            flex: 0 0 48%;
  }
  .middle {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }
  .right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 4%;
        -ms-flex: 0 0 4%;
            flex: 0 0 4%;
  }

  .image-column {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #iut-zoom {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    transform: scale(1) translate(0px, 0px);
    display: none;
  }

  #out-zoom {
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    transform-origin: center;
    transform: scale(1) translate(0px, 0px);
    display: none;
  }

  img {
    image-rendering: pixelated;
  }

  .loader {
    height: 100%;
    width: 100%;

    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
